.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-left {
    justify-content: start;
}

.align-items-center{
    align-items: center;
}

.bg-azul-050{
    background-color: #E5F3FF;
}
.bg-azul-100 {
    background-color: #CFE9FF;
}
.bg-azul-200 {
    background-color: #A9D4FF;
}
.bg-azul-300 {
    background-color: #75B3FF;
}
.bg-azul-400 {
    background-color: #3F82FF;
}
.bg-azul-500 {
    background-color: #1450FF;
}
.bg-azul-600 {
    background-color: #0039FF;
}
.bg-azul-700 {
    background-color: #003AFF;
}
.bg-azul-800 {
    background-color: #0034E3;
}
.bg-azul-900 {
    background-color: #0022B2;
}
.bg-azul-950 {
    background-color: #001066;
}


.text-azul-050 {
    color: #E5F3FF;
}

.text-azul-100 {
    color: #CFE9FF;
}

.text-azul-200 {
    color: #A9D4FF;
}

.text-azul-300 {
    color: #75B3FF;
}

.text-azul-400 {
    color: #3F82FF;
}

.text-azul-500 {
    color: #1450FF;
}

.text-azul-600 {
    color: #0039FF;
}

.text-azul-700 {
    color: #003AFF;

}

.text-azul-800 {
    color: #0034E3;
}

.text-azul-900 {
    color: #0022B2;
}

.text-azul-950 {
    color: #001066;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.radio-lg {
    border-radius: 35px;
}

.radio-small {
    border-radius: 15px;
}

.p-1 {padding: 10px;}

.p-2 {padding: 20px;}

.pl-2 {padding-left: 20px;}

.p-3 {padding: 30px;}

.p-4 {padding: 40px;}

.p-5 {padding: 50px;}

.m-1 {margin: 10px;}

.m-2 {margin: 20px;}

.m-3 {margin: 30px;}

.m-4 {margin: 40px;}

.m-5 {margin: 50px;}

.mt-5 {margin-top: 50px;}
.mt-1 {margin-top: 10px;}

.my-1 {margin: 10px 0;}

p{font-size: 55px;margin: 0;}

<div style="display: flex; justify-content: center;">
    <div style=";width:80%;border-radius:35px;padding:50px">
        <div style="display: flex; justify-content: space-between;">
            <p style="color: white;font-size:55px;margin-bottom:20px;margin-top:0;font-weight:bold;">Buscas un alquiler mensual?</p>
            <!-- <a href="" style="color: white;font-size:55px;text-decoration:none;font-weight:bold;font-weight:bold;">X</a> -->
            <img style="height:55px;" src="./assets/img/close.png" alt="X">
        </div>
        <div>
            <span style="color: rgba(255, 255, 255, 0.7);font-size:40px;">Click aquí</span>  
            <!-- <a href="" style="color: white;font-size:40px;text-decoration:none;margin-left:20px;font-weight:bold;"> > </a>  -->
            <img style="height:40px;" src="./assets/img/flechita.png" alt=">">
        </div>
    </div>
</div>